.u-section-1 {
  background-image: url("images/bodyBg.png");
  background-position: 50% 50%;
  background-size: 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-image-1 {
  width: 950px;
  height: 556px;
  margin: 121px auto 0;
  background-color:transparent;
}

.u-section-1 .u-custom-html-1 {
  min-height: 513px;
  height: auto;
  width: 900px;
  margin: -534px auto 0;
}

.u-section-1 .u-image-2 {
  width: 437px;
  height: 219px;
  margin: -623px auto 60px 0;
  background-color:transparent;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-image-1 {
    height: 555px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    width: 375px;
    height: 181px;
    margin-top: -603px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -136px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
    background-color:transparent;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 530px;
    margin-top: 124px;
    margin-right: auto;
    margin-left: -24px;
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1272px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 48px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -294px;
    margin-left: auto;
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -838px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -177px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -955px;
  }
}
